.link {
  box-shadow: var(--boxshadow-size-2) var(--boxshadow-size-2);
  color: var(--link-color);
  fill: var(--link-color);
}

.link:hover {
  box-shadow: var(--boxshadow-size-4) var(--boxshadow-size-4);
  transform: translate(-2px, -2px);
}
