.link {
    list-style: none;
    box-shadow: var(--boxshadow-size-2) var(--boxshadow-size-2);
    margin-bottom: 1.2em;
    margin-right: 0.6em;
    border: 4px solid;
    padding: 4px 8px;
    text-decoration: none;
    display: inline-block;
    transition: .1s ease;
    font-weight: 500;
    color: var(--link-color);
    cursor: pointer;
}

.link:hover {
    box-shadow: 8px 8px;
    transform: translate(-2px, -2px);
}
