.label {
    padding: 4px 8px;
    margin-right: 12px;
    font-size: .6em;
    font-weight: 500;
    background: white;
    color: var(--secondary-color);
    border: 2px solid var(--secondary-color);
    box-shadow: 2px 2px var(--secondary-color);
    width: fit-content;
}
