/*.lamp {*/
/*    margin: auto;*/
/*    border-radius: 2vh;*/
/*    background: var(--lamp-color);*/
/*    transition: box-shadow .5s ease;*/

/*    position: fixed;*/
/*    color: var(--font-color);*/
/*    right: 4vw;*/
/*    height: 30vh;*/
/*    width: 0.5vw;*/
/*    top: 35vh;*/
/*    cursor: pointer;*/
/*}*/

.shadow {
  box-shadow:
    0 0 1vh 0.5vh rgba(var(--shine-color-rgb), 0.2),
    0 0 2vh 1vh rgba(var(--shine-color-rgb), 0.2),
    0 0 5vh 1vh rgba(var(--shine-color-rgb), 0.1),
    0 0 10vh 1vh rgba(var(--shine-color-rgb), 0.05),
    0 0 15vh 1vh var(--shine-color),
    0 0 20vh 1vh var(--shine-color),
    0 0 25vh 1vh var(--shine-color),
    0 0 50vh 1vh var(--shine-color);
}

.shadow-left {
  box-shadow:
    0 0 1vw 0.5vw rgba(var(--shine-color-rgb), 0.2),
    -1vw 0 2vw 1vw rgba(var(--shine-color-rgb), 0.2),
    -4vw 0 5vw 1vw rgba(var(--shine-color-rgb), 0.1),
    -10vw 0 10vw 1vw rgba(var(--shine-color-rgb), 0.05),
    -13vw 0 15vw 1vw var(--shine-color),
    -15vw 0 20vw 1vw var(--shine-color),
    -25vw 0 25vw 0 var(--shine-color),
    -50vw 0 50vw 0 var(--shine-color);
}

.shadow-right {
  box-shadow:
    0 0 1vw 0.5vw rgba(var(--shine-color-rgb), 0.2),
    1vw 0 2vw 1vw rgba(var(--shine-color-rgb), 0.2),
    4vw 0 5vw 1vw rgba(var(--shine-color-rgb), 0.1),
    10vw 0 10vw 1vw rgba(var(--shine-color-rgb), 0.05),
    13vw 0 15vw 1vw var(--shine-color),
    15vw 0 20vw 1vw var(--shine-color),
    25vw 0 25vw 0 var(--shine-color),
    50vw 0 50vw 0 var(--shine-color);
}
