/*html {*/
/*    width: 100%;*/
/*    height: 100%;*/
/*    font-size: 18px;*/
/*}*/

body {
    /*width: 100%;*/
    /*min-height: 100%;*/
    /*position: relative;*/
    /*overflow: hidden;*/
    transition: color 0.5s linear, background-color 0.2s linear ;
    background-color: var(--background-color);
}

:root {
    --boxshadow-size: 6px;
    --boxshadow-size-2: 4px;
    --boxshadow-size-3: 2px;
}
