:root[data-theme=dark] {
    --font-color: white;
    --background-color: #0E0027;
    --shine-color: #5fb0f7;
    --shine-color-rgb: 95, 176, 247;
    --lamp-color: white;
}

:root {

}

:root[data-theme=light] {
    --font-color: black;
    --background-color: white;
    --shine-color: black;
    --shine-color-rgb: 0, 0, 0;
    --lamp-color: black;
}
